
@import 'partials/_colors';
@import 'partials/_backgrounds';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html {

  font-size: 62.5%;
  font-family: $font-family-sans-serif;
}
nav {
	background-color: $dark-background;
	ul {
		overflow: hidden;
		list-style-type: none;
	}
	li {
		padding:8px 15px;
		display:inline-block;
		a {
			color:#fff;
		}
		a:hover {
			color:#f1f1f1;
			text-decoration: none;
		}
	}
}
h1,
h2, 
h3, 
h4 {
	color: $color-text;
}
body {
	font-size:1.8rem;
	background: $background;
	color:$color-text;
}
main {
	width:70%;
	margin:auto;
}
footer {
	//
}
header {
	//
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
}

p {
	color: $color-text;
}
%fields {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;

	padding:8px 15px;
	width:100%;
	margin: 5px 0 5px 0;
	outline: none;
	border: none;
	border: 1px solid #ddd;
}
%fields-focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	border:1px solid rgba(81, 203, 238, 1);
}
form {
	//
	padding: 15px;
}
legend {
	//
}
input {
	@extend %fields;
}
textarea {
	@extend %fields;
}
input:focus {
	@extend %fields-focus;
}
textarea:focus {
	@extend %fields-focus;
}
table {
	width: 100%;
	border-collapse: collapse;
	color: $color-text;
	td {
		padding:8px 15px;
		border: 1px solid #ddd;
	}
	th {
		padding:8px 15px;
		border: 1px solid #ddd;
	}
	tr:nth-child(even) {
		background-color: $background-fade;
		color: $background-fade-text-color;
	}
}

button {
	padding: 8px 15px;
	border:none;
	cursor: pointer;
	border-radius: 5px;
	outline: none;
	background-color: $default;
	color:#fff;
}
button:hover {
	background-color: $default-hover;
}
small {
	color: $color-text;
}
a {
	text-decoration: none;
	color: #45aaf2;
}

a:hover {
	text-decoration: underline;
	color: #2d98da;
}

span {
	//
}
%alert {
	padding: 8px 15px;
	border-radius: 4px;
	border:none;
	margin:10px 0px 10px 0px;
}
.alert-danger {
	@extend %alert;
	background-color: $danger;
	color: #fff;
}

.alert-primary {
	@extend %alert;
	background-color: $primary;
	color: #fff;
}

.btn-danger {
	color: #fff;
	background-color: $danger;
}
.btn-danger:hover {
	color: #fff;
	background-color: $danger-hover;
}
.btn-primary {
	color: #fff;
	background-color: $primary;
}
.btn-primary:hover {
	background-color: $primary-hover;
}

.btn-dark {
	color: #fff;
	background-color: $dark;
}

.btn-dark:hover {
	background-color: $dark-hover;
}

@mixin transform($property) {
  -webkit-transform: $property;
      -ms-transform: $property;
          transform: $property;
}

.box { 
	@include transform(rotate(30deg)); 
}