$color-blossom: #ffffff;
$color-fade: #c9c9c9;

$border:#3498db;
$light-fade:#e3e3e3;
$background: #222222;
$color-bg-alt: #4a4a4a;

$background-fade: #d1d8e0;
$background-fade-text-color: #333;

$color-text: #c9c9c9;

$font-family-sans-serif: Verdana, Geneva, sans-serif;
$font-family-serif: serif;

@import '../main';
