$color-blossom: #ffffff;
$color-fade: #c9c9c9;

$background: #222222;
$color-bg-alt: #4a4a4a;

$color-text: #c9c9c9;

$font-family-sans-serif: Verdana, Geneva, sans-serif;
$font-family-serif: serif;

@import '../main';
