$color-blossom: #ffffff;
$color-fade: #c9c9c9;

$background: #f1f1f1;
$color-bg-alt: #4a4a4a;

$background-fade: #d1d8e0;
$background-fade-text-color: #333;

$color-text: #4a4a4a;

$font-family-sans-serif: Verdana, Geneva, sans-serif;
$font-family-serif: serif;

@import '../main';
