$color-blossom: #ffffff;
$color-fade: #c9c9c9;

$border: #333;
$light-fade:#e3e3e3;
$background: #f1f1f1;
$color-bg-alt: #4a4a4a;

$background-fade: #d1d8e0;
$background-fade-text-color: #333;

$color-text: #4a4a4a;

$blockquote-font-family: "Segoe Print", "Times New Roman", Verdana;
$font-family-sans-serif: Verdana, Geneva, sans-serif;
$font-family-serif: serif;

@import '../main';
